<div class="login-container"><h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nome">senha</label>
      <input type="password" formControlName="senha" id="senha">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" formControlName="email" id="email">
    </div>
    <button type="submit">Login</button>

  </form>
  <div *ngIf="errorMessage"></div>
  <ng-template #thenBlock>{{ errorMessage }}</ng-template>
  <ng-template #elseBlock>login feito com sucesso</ng-template>
</div>
