
<div class="container">
  <form  (ngSubmit)="login()" #loginForm="ngForm">
    <label for="email">email </label>
    <input [(ngModel)]="user.email" name="email" id="email" type="text"  required>

    <label for="senha">senha: </label>
    <input [(ngModel)]="user.senha" name="senha"  id="senha" type="password">




    <button type="submit" mat-raised-button color="accent">Entrar</button>



  </form>

  <div class="example-button-row">


    <button mat-raised-button color="warn">Esqueci a senha</button>

    <a mat-raised-button color="primary" href="" target="_blank">Cadastrar</a>
  </div>




</div>
