<div class="cadastro">
  <form (ngSubmit)="salvar()" [formGroup]="cadastro">

    <div class="elemento-formulario">


      <button mat-raised-button color="warn"><label>nome</label></button>
       <input type="text"
        name="nome"
        formControlName="nome">


    </div>

    <div class="elemento-formulario">
      <button mat-raised-button color="warn"><label>email</label></button>
      <input type="text"
      name="email"
      formControlName="email"
      >

    </div>

    <div class="elemento-formulario">

      <button mat-raised-button color="warn"><label>dataNascimento</label></button>
      <input name="dataNascimento"
      formControlName="dataNasimento"
      >

    </div>

    <div class="elemento-formulario">
      <button mat-raised-button color="warn"><label>senha</label></button>
      <input
        type="password"
        name="senha"
        formControlName="senha"
        >

    </div>

    <div class="elemento-formulario">
      <button mat-raised-button color="warn"><label>confirma senha</label></button>
      <input
        type="password"
        name="confirmarSenha"
        formControlName="confirmarSenha"
        >

    </div>

    <div class="elemento-formulario">
    <button mat-raised-button color="warn">peso</button>
    <input type="number" name="peso" formControlName="peso">
    </div>

    <div class="elemento-formulario">
     <button mat-raised-button color="warn">altura</button>
     <input type="number" name="altura" formControlName="altura">

    </div>


    <div class="elemento-formulario">
      <button mat-raised-button color="warn">cep</button>
      <input type="number" name="cep" formControlName="cep">

     </div>



    <div class="botoes-formulario">
      <button mat-raised-button color="accent" type="submit">Cadastrar</button>
    </div>








  </form>
</div>
