

.card {

  position: absolute;
    top: 74%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;

  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); /* Sombreamento */
  overflow: hidden;
}

.card-header {
  position: relative;

  padding: 20px;
  background-color: #8d6ab07f; /* Amarelo */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-position: center;
  color: #fff;
  font-family: 'Arial Black', sans-serif; /* Fonte estilizada */
  height: 100%;


}



.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #8d6ab07f; /* Amarelo */
  transition: color 0.3s ease; /* Transição de cor */
  cursor: pointer;
  background-color: #ecda8f;
  padding:5px;
  border-radius: 16px;
}

.form-group label:hover {
  color: #ffdb4d; /* Amarelo mais claro */
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="number"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #ffcc00; /* Amarelo */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transição de cor */
}

.form-group input[type="submit"]:hover {
  background-color: #ffdb4d; /* Amarelo mais claro */
}
.card-body {
  display: flex; /* Alinhar itens em uma linha */
  align-items: center; /* Centralizar verticalmente */
  padding: 10px;
  background-color: #e6e6fa; /* Lilás */
  width: 200px;
  height:200px;
}
.custom-toast-error {
  background-color: #b02a20; /* Vermelho */
  color: rgb(241, 241, 67);
  border-radius: 10px; /* Cantos arredondados */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4); /* Sombreamento */
  margin: 14px;
  padding:9px;
  font-size: 21px; /* Tamanho da fonte */
}

.custom-toast-error .toast-close-button {
  color: #444; /* Cinza forte para o botão de fechar */
}

.custom-toast-error .toast-close-icon {
  fill: #fff; /* Ícone branco */
}
.custom-toast-success {
  background-color: #175819; /* Verde */
  color: white;
  border-radius: 10px; /* Cantos arredondados */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4); /* Sombreamento */
  margin: 14px;
  padding:18px;
  font-size: 24px; /* Tamanho da fonte */}
.custom-toast-success .toast-close-button {
  color: #444; /* Cinza forte para o botão de fechar */
}

