<div class="container">
<mat-sidenav-container>
  <mat-sidenav>Start</mat-sidenav>
  <mat-sidenav-content><button mat-raised-button color="accent" routerLink="inicial">Inicio</button></mat-sidenav-content>
  <mat-sidenav-content><button mat-raised-button color="accent" routerLink="diet">Dietas</button></mat-sidenav-content>
  <mat-sidenav-content><button mat-raised-button color="accent" routerLink="perfil">perfil</button></mat-sidenav-content>
  <mat-sidenav-content><button mat-raised-button color="accent" routerLink="datails">detallhes da dieta</button></mat-sidenav-content>

</mat-sidenav-container>
</div>
